<h1>Heroes <small>Marvel and DC</small></h1>
<hr>

<div class="card-columns">
    <!-- *ngFor="let heroe of heroes; let i = index" -->
  
    <!-- Se llama al componente especial (este es el Hijo app-heroe-tarjeta)-->
    <!-- Se coloca [heroe] (variable hija, se puede llamar como sea) que es la variable que recibe los datos de heroe -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>
